@model UsuariosRolesUsuarioViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Asignar o Remover Roles";
}

<h3>Asignar o remover roles al usuario: @Model.Email</h3>

<p>Roles:</p>

<form asp-action="EditarRoles">
    <input type="hidden" asp-for="UsuarioId" />

    @foreach (var rol in Model.Roles)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="RolesSeleccionados"
            value="@rol.Nombre" id="@rol.Nombre" @(rol.LoTiene ? "checked" : "") />
            <label class="form-check-label" for="@rol.Nombre">
                @rol.Nombre
            </label>
        </div>
    }

    <button class="btn btn-primary mt-2">Salvar cambios</button>
    <a class="btn btn-secondary mt-2" asp-action="Listado">Cancelar</a>

</form>