@model ReporteMensualViewModel

@{
    ViewData["Title"] = "Reporte Mensual";
    int añoAnterior = Model.Año - 1;
    int añoPosterior = Model.Año + 1;
    var resumenMontos = new ResumenMontosViewModel()
            {
                Gastos = Model.Gastos,
                Ingresos = Model.Ingresos,
                Total = Model.Total
            };
}

<partial name="_Submenu" Model="SubMenuTransacciones.Mensual" />

<h4>
    Mostrando transacciones de 
    <a asp-route-año="@añoAnterior" class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a> @Model.Año
    <a asp-route-año="@añoPosterior" class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<partial name="_ResumenMontos" model="@resumenMontos" />

<table class="table" style="font-size: 20px">
    <thead>
        <tr style="background-color: lightblue">
            <th>Mes</th>
            <th style="text-align: right">Ingresos</th>
            <th style="text-align: right">Gastos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccionPorMes in Model.TransaccionesPorMes)
        {
            <tr>
                <td>
                    <a style="text-decoration: none;" asp-action="Index"
                    asp-route-año="@Model.Año" asp-route-mes="@transaccionPorMes.Mes"
                    >
                        @transaccionPorMes.FechaReferencia.ToString("MMM")
                    </a>
                </td>
                <td class="activo" style="text-align: right">@transaccionPorMes.Ingreso.ToString("N")</td>
                <td class="pasivo" style="text-align: right">@transaccionPorMes.Gasto.ToString("N")</td>
            </tr>
        }
    </tbody>
</table>