@using BlogMVC.Servicios
@using BlogMVC.Utilidades
@model EntradaDetalleViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.Titulo;
    var fechaPublicacionConFormato = Model.FechaPublicacion.ToString("dd MMM, yyyy");
    var urlRetorno = Context.ObtenerUrlRetorno();
}

<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h3>@Model.Titulo</h3>
    @if (Model.MostrarBotonEdicion)
    {
        <div class="d-flex gap-2">
            <a class="btn btn-primary" asp-action="Editar" asp-route-id="@Model.Id">Editar esta entrada</a>
            <form asp-action="Borrar" style="display: inline">
                <input type="hidden" name="Id" id="id" value="@Model.Id" />
                @if (Model.EntradaBorrada)
                {
                    <button class="btn btn-secondary" asp-action="Borrar"
                            asp-route-borrado="false">
                        Restaurar
                    </button>
                }
                else
                {
                    <button class="btn btn-danger" asp-action="Borrar"
                            asp-route-borrado="true">
                        Borrar
                    </button>
                }
            </form>
        </div>
    }
</div>
<h6>@Model.EscritoPor | @fechaPublicacionConFormato</h6>


@if (!string.IsNullOrEmpty(Model.PortadaUrl))
{
    <img alt="portada" src="@Model.PortadaUrl" class="img-fluid" />
}

<div id="contenido">
</div>

<hr />

@if (Model.Comentarios.Any())
{
    <h2>Comentarios</h2>

    <div class="mb-4">
        @foreach (var comentario in Model.Comentarios)
        {
            <div class="mb-2 p-2" style="border-left: 1px solid gray">
                <h6>@comentario.EscritoPor</h6>
                <h6>@comentario.FechaPublicacion.ToString("dd MMM, yyyy 'a las' hh:mm tt")</h6>
                <div>
                    @comentario.Cuerpo
                </div>
                @if (comentario.MostrarBotonBorrar)
                {
                    <div class="mt-2">
                        <a class="btn btn-danger" asp-action="borrar"
                           asp-controller="comentarios" asp-route-id="@comentario.Id">
                            Borrar comentario
                        </a>
                    </div>
                }
            </div>
        }
    </div>
}


<h2>Deja un comentario</h2>
@if (User.Identity!.IsAuthenticated)
{
    <form asp-action="comentar" asp-controller="comentarios">
        <input type="hidden" asp-for="Id" />
        <div style="max-width: 600px">
            <textarea id="cuerpo" name="cuerpo" required class="form-control"
                      style="height: 100px" placeholder="Escribe un comentario..."></textarea>

            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary">Comenta</button>
            </div>
        </div>
    </form>
}
else
{
    <p>
        Logueate para comentar <a asp-controller="usuarios"
                                  asp-action="login" asp-route-urlRetorno="@urlRetorno">aquí</a>
    </p>
}

<input type="hidden" id="cuerpoDelta" name="cuerpoDelta" value="@Model.Cuerpo" />

@section Scripts {
    <script type="module">
        import { QuillDeltaToHtmlConverter } from "https://cdn.jsdelivr.net/npm/quill-delta-to-html/+esm";

                const deltaString =  $("#cuerpoDelta").val();
                const delta = JSON.parse(deltaString);
                const converter = new QuillDeltaToHtmlConverter(delta);

                const contenido = document.getElementById("contenido");
                contenido.innerHTML = converter.convert();

                document.querySelectorAll('pre').forEach(el => {
                    hljs.highlightElement(el);
                });

                function ajustarAncho(){
                    const imagen = document.querySelector("img.img-fluid");
                    const contenido = document.getElementById("contenido");

                    if (imagen && contenido){
                        contenido.style.width = imagen.clientWidth + "px";
                    }
                }

                window.addEventListener("load", ajustarAncho);
                window.addEventListener("resize", ajustarAncho);
    </script>
}