@model SubMenuTransacciones

<ul class="nav nav-pills nav-fill mb-3">
    <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransacciones.Diario ? "active" : null)" 
        asp-action="Index">Diario</a>
    </li>
     <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransacciones.Semanal ? "active" : null)" 
        asp-action="Semanal">Semanal</a>
    </li>
     <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransacciones.Mensual ? "active" : null)" 
        asp-action="Mensual">Mensual</a>
    </li>
     <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransacciones.Excel ? "active" : null)" 
        asp-action="ExcelReporte">Excel</a>
    </li>
     <li class="nav-item">
        <a class="nav-link @(Model == SubMenuTransacciones.Calendario ? "active" : null)" 
        asp-action="Calendario">Calendario</a>
    </li>
</ul>